body {
    background-color: rgb(0, 0, 0);
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1486915309851-b0cc1f8a0084?auto=format&fit=crop&w=634&q=80);
}
.slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/19/nomad.JPG?auto=format&fit=crop&w=988&q=80);
    animation-delay: 5s;
}
.slideshow li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1503265192943-9d7eea6fc77a?auto=format&fit=crop&w=967&q=80);
    animation-delay: 10s;
}
.slideshow li:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1500220959218-81a28e9292d0?auto=format&fit=crop&w=1234&q=80);
    animation-delay: 20s;
}
slideshow li:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1468956398224-6d6f66e22c35?auto=format&fit=crop&w=1055&q=80);
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

/*Older browsers support - .no-cssanimations class added by modenizer */
.no-cssanimations .slideshow li {
    opacity: 1;
}